<ion-content [fullscreen]="true">
  <ion-row class="mt-10">
    <ion-col class="center">
      <img class="logo" src="assets/logo.png" />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Enter mobile number" type="tel" formControlName="phone">
          <mat-icon matSuffix>phone_android</mat-icon>
          <mat-hint>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.phone">
                <div class="error-message"
                  *ngIf="loginForm.get('phone').hasError(validation.type) && (loginForm.get('phone').dirty || loginForm.get('phone').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" [type]="hide ? 'text' : 'password'" formControlName="password">
          <mat-icon matSuffix (click)="hide = !hide" color="black">{{ hide ? 'visibility_off' : 'visibility'}}&nbsp;
          </mat-icon>
          <mat-hint>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                  *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon>
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </mat-hint>
        </mat-form-field>
        <br>
        <ion-button type="submit" expand="block">Submit</ion-button>
      </form>
    </ion-col>
  </ion-row>
</ion-content>